body, html {
	background-color: #eee;
	margin: 0px;
	padding: 5px;
	font-family: sans-serif;
	font-size: 16px;
	color: black;
}

p, pre {
	margin: 10px; 
	word-wrap: break-word;
	overflow: hidden;
}

#results {
	width: 800px;
	float: left;
	margin: 50px;
	padding: 1px;
	padding-bottom: 5px;
	background-color: #ddd;
	border: solid #555 1px;
}

.header {
	margin: 0px;
	padding: 5px;
	background-color: #fcc;
	font-size: 24px;
}

.length {
	font-size: 12px;
}

.seq {
	background-color: #eee;
	border: dashed #000 1px;
	padding: 5px;
	word-wrap: break-word;
	overflow: hidden;
}

.align {
	font-weight: bold;
}

.result {
	font-size: 14px;
	font-weight: bold;
}

.hred {
	background-color: #f99;
}

.button, .buttonhi {
	display: block;
	background-color: #ccf;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid #99f;
	color: #000;
	float: left;
}

.buttonhi {
	background-color: #cfc;
	border-color: #9f9;
}

#seqnum {
	font-size: 14px;
	font-weight: none;
	padding: 20px;
}

#hidden {
	display: none;
}
